    <div id='main'>
        <div class='search_error'>
        <h2>Solanaceae to <TMPL_VAR NAME="organism"> Mapping Search Results</h2>
           
            <!-- content goes below -->

               <p>
                   Results for query '<b><a href='/gene_overview.php?id=<TMPL_VAR NAME="id">' target='_blank'><TMPL_VAR NAME="id"></a></b>' and e-value cutoff <b><TMPL_VAR NAME="e_value"></b>.
               </p>

               <p>
                    <em>Your search for '<TMPL_VAR NAME="id">' returned no results.</em>
               </p>

            <!-- content goes above -->

        </div>
    </div>
