            <h3>Error</h3>

            <p>
        Error -- Please make sure you have entered your name, email and 
        comments in the appropriate fields and your comments do not exceed 500 characters or contain any HTML tags.
            </p>
