            <h3>Thank You For Your Comments</h3>

            <p>
               Your comments have been sent to the Solanaceae Comparative Genomics Project
               group at <a href='mailto:sgr@plantbiology.msu.edu'>sgr@plantbiology.msu.edu</a>
            </p>
