    <div id='main'>
        <h2>Solanaceae Ortholog and Paralog Database Search Results</h2>
           
            <!-- content goes below -->

            <h3>No results were found for <TMPL_VAR NAME="ta"></h3>

        <p>
        <u>Hints</u>
        </p>

        <p>
        &bull;&nbsp;&nbsp;Only current Solanaceae PUTs that have a Solanaceae ortholog or a paralog will return results.
        </p>

            <p>
        &bull;&nbsp;&nbsp;PlantGDB PUT identifiers are of the form <i>PUT-###x_Species_name-###</i>, see <a href='http://www.plantgdb.org/prj/ESTCluster/index.php'>PlantGDB</a> for details.
        </p>

            <p>
        &bull;&nbsp;&nbsp;Searches are case insensitive.   
        </p>

            <!-- content goes above -->

    </div>
