<div id='paralog_report'>

    <div class='detach_div'></div>

<h2>Solanaceae Ortholog and Paralog Database Search Results</h2>

<h3>Information on Transcript <a href="/gene_overview.php?id=<TMPL_VAR NAME="ta">"> <TMPL_VAR NAME="ta"></a></h3>
    
<p>
<div align="center">
    <table>
        <tr>
            <th align="center">PUT ID</th>
            <!-- <th align="center">Species Name</th> -->
            <th align="center">Length</th>
        </tr>
        <tr>
            <td align="center"><a href="/gene_overview.php?id=<TMPL_VAR NAME="ta">"><TMPL_VAR NAME="ta"></a></td>
            <!-- <td width="100px" align="center"><i><TMPL_VAR NAME="sci_name_query"></i></td> -->
            <td width="100px" align="center"><TMPL_VAR NAME="query_length"></td>
        </tr>
    </table>
</div>
</p>
<br>
<h3>Putative Paralogs of <a href="/gene_overview.php?id=<TMPL_VAR NAME="ta">"><TMPL_VAR NAME="ta"></a></h3>
<p>
The Solanaceae PUTs were searched against each other using TBLASTX. Cut-offs of 10<sup>-5</sup> and 45% identity over 225 bases were used. All matches satisfying these criteria are shown.
</p>
<p>
<div align="center">        
    <table id='result_table'>
        <thead>
            <tr>
                <th align="center">PUT Identifier</th>
                <th align="center">Length</th>
                <th align="center">% Identity</th>
                <th align="center">% Similarity</th>
                <th align="center">% Coverage</th>
                <th align="center">E-value</th>
            </tr>
        </thead>
        <tbody>
            <TMPL_LOOP NAME ="elem_table">
            <tr>
                <td align="center"><a href="/gene_overview.php?id=<TMPL_VAR NAME="target_ta">"><TMPL_VAR NAME="target_ta"></a></td>
                <!-- <td width="100px" align="center"><i><TMPL_VAR NAME="sci_name"></i></td> -->
                <td width="100px" align="center"><TMPL_VAR NAME="target_length"></td> 
                <td width="100px" align="center"><TMPL_VAR NAME="per_id"></td>
                <td width="100px" align="center"><TMPL_VAR NAME="per_sim"></td>
                <td width="100px" align="center"><TMPL_VAR NAME="per_coverage"></td>
                <td width="100px" align="center"><TMPL_VAR NAME="e_value"></td>
            </tr>
            </TMPL_LOOP>
        </tbody>
    </table>
</div>
</p>
<br>
<h3 id="fasta_orth">Sequences of <a href="/gene_overview.php?id=<TMPL_VAR NAME="ta">"> <TMPL_VAR NAME="ta"></a>'s Putative Paralogs</h3>

<div align="left">
<pre>
<TMPL_VAR NAME="fasta">
</pre>
</div>
</div>
